<div>
    <h3>Add new Media</h3>
  
    <!-- 
      Need to define that submit button does not send data to server
      instead should send data to class
      No arg to be passed, as class has virtual form
   -->
    <form  [formGroup]="myFormGroup"  (ngSubmit)="saveMedia()" > <!-- HTML form will be mapped as Angular FormGroup Object-->
     
      <div class="row">
        <div class="col"><label for="">Enter Title</label></div>
        <!-- HTML input will be mapped as Angular FormControl Object -->
        <div class="col">
          <input type="text" name="mytitle"  [formControl]="myMediaTitle" />
          <span *ngIf="!myFormGroup.controls['media_title'].valid && myFormGroup.controls['media_title'].dirty" class="bg-warning">Title required...!!!</span>
        </div>
      </div>
      <div class="row">
        <div class="col"><label for="">Enter media description</label></div>
        <div class="col"><input type="text" name="mydescription"  [formControl]="myFormGroup.controls['media_description']"/></div>
      </div><div class="row">
        <div class="col"><label for="">Tag people</label></div>
        <div class="col">
          <input type="text" name="mytag"  [formControl]="myFormGroup.controls['product_cost']"/>
          <span *ngIf="myFormGroup.controls['media_tag'].hasError('range') && myFormGroup.controls['media_tag'].dirty" class="bg-warning">Invalid ID!!!</span>
          <span *ngIf="myFormGroup.controls['media_tag'].hasError('required') && myFormGroup.controls['media_tag'].dirty" class="bg-warning">ID required!!!</span>
          <!--
              Common Message
          <span *ngIf="!myFormGroup.controls['product_cost'].valid && myFormGroup.controls['product_cost'].dirty" class="bg-warning">Invalid Cost value!!!</span>
          -->
        </div>
      </div>
      <div class="row">
        <!-- 
          Keep the submit button disabled till all constraints are satisfied
          Angular allows to check if constraints are satisfied or not
          myFormGroup.valid : inbuilt boolean
        -->
        <div class="col"><input type="submit" value="Save" [disabled]="!myFormGroup.valid" /></div>
      </div>
  
    </form>
    <h2>Title:{{title}}</h2>
  <h2>Description:{{description}}</h2>
  <h2>Tag:{{tag}}</h2>
  
      <div *ngIf="!myFormGroup.valid && myFormGroup.dirty" class="bg-danger">
        <h3>Incomplete Information!!!</h3>
      </div>
  
    
  </div>

