<div>
<div>
    <label for="value1">Enter val 1</label>
    <input type="number" id="value1" #val1/>
</div>

<div>
    <label for="value1">Enter val 2</label>
    <input type="number" id="value2" #val2/>
</div>



<button type="button" (click)="calculate(val1,val2,result1)"></button>
<button type="button" (click)="addition(val1,val2,result1)">add</button>
<button type="button" (click)="subtraction(val1,val2,result1)">sub</button>
<button type="button" (click)="multi(val1,val2,result1)">multi</button>

<button type="button" (click)="div(val1,val2,result1)">div</button>
<button type="button" (click)="clear(val1,val2,result1)">clear</button>
<div>
    <label for="result">result</label>
    <input type="number" id="value1" #result1/>
</div>
</div>